<div class=" container-fluid h-100">
        <div class="row g-4 ">
          <div class=" bg-light col-sm-12 col-xl-8 h-100">
            <div class="">
             <app-my-product-list-component></app-my-product-list-component>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4 h-100">
            <div class="row-cols-sm-1 g-4 h-100">
              <div class="bg-light ">
                <app-category-list-component></app-category-list-component>
              </div>
              <div class="bg-light mt-4  table-order">
                <div class=" ">
                  <app-manufacturer-list-component></app-manufacturer-list-component>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>