:host {

        .btn-outline-primary{
                margin-left: 16px;
        }
        p{
                padding-bottom: none
        }
        .col {
                padding-left: 10px;
                padding-bottom: 15px;
        }
        .action{
                margin-top: 10px;
        }
        .table-order{
                min-height: 100%;
        }
}