<!--<div class="container-fluid">
  <div class="album py-2">
    <div class="row justify-content-start gap-3">
      <div class="col g-start-2 border  shadow-sm h-md-250">
        <app-category-list-component></app-category-list-component>
      </div>
      <div class="col  g-start-2 border shadow-sm h-md-250">
      <app-shop-list-component></app-shop-list-component>
    </div>
  </div>
</div>
<div class="album py-2">
  <div class="row justify-content-start gap-3">
    <div class="col g-start-2 border  shadow-sm h-md-250">
      <app-manufacturer-list-component></app-manufacturer-list-component>
    </div>
    <div class="col  g-start-2 border shadow-sm h-md-250">
    <app-shop-list-component></app-shop-list-component>
  </div>
</div>
</div>
</div>-->
<div class=" container-fluid h-100">
  <div class="row ">
    <div class="col-sm-12 col-xl-8 h-100">
      <div class="row-cols-sm-1 g-4 h-100">
        <div class=" ">
          <app-summary></app-summary>
        </div>
        <div class="mt-4  table-order">
              <app-order-list></app-order-list>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4 h-100">
      <div class="">
        <app-message-dashboard-list></app-message-dashboard-list>
      </div>
    </div>
  </div>
</div>