
       <div >
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-start justify-content-between p-4">
                    <div class="ms-3">
                        <i class="bi bi-cart-check"></i>  
                        <h3 class="mb-0">26</h3>            
                        <p class="mb-2">Processing</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-start justify-content-between p-4">
                    <div class="ms-3">
                        <i class="bi bi-check2-square"></i>
                        <h3 class="mb-0">26</h3>            
                        <p class="mb-2">Completed</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-start justify-content-between p-4">
                    <div class="ms-3">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <h3 class="mb-0">26</h3>            
                        <p class="mb-2">Returned</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-start justify-content-between p-4">
                    <div class="ms-3">
                        <i class="bi bi-x-circle"></i>
                        <h3 class="mb-0">26</h3>            
                        <p class="mb-2">Canceled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>