.navbar{
        background-color: #0468ff;
        min-height: 92px;
}
.img-avartar{
        border-radius: 50%;
        max-height: 50px;
        background-attachment: fixed;
}
.btn-avartar{
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-color: #f8f8f800;
}
.input-search{
        max-width: 500px;
        border: solid 2px #e3f2fd;
        border-radius: 10px;
}