<h2> Profile Details</h2>
<div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Avatar</label>
        <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label" >Full Name</label>
        <div class="col-sm-10">
                <div class="row">
                        <div class="col">
                                <input type="text" class="form-control" placeholder="First name"
                                        aria-label="First name">
                        </div>
                        <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                </div>

        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Contact Phone</label>
        <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Company Site</label>
        <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
                <select class="form-select " aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Language</label>
        <div class="col-sm-10">
                <select class="form-select " aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Time Zone</label>
        <div class="col-sm-10">
                <select class="form-select " aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Currency</label>
        <div class="col-sm-10">
                <select class="form-select " aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Communication</label>
        <div class="col-sm-10">
                <div class="row">
                        <div class="col">
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                        Email
                                        </label>
                                      </div>
                        </div>
                        <div class="col">       
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                        Phone
                                        </label>
                                      </div>
                        </div>
                        <div class="col">
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          SMS
                                        </label>
                                      </div>
                        </div>
                </div>
        </div>
</div>
<div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Allow Marketing</label>
        <div class="col-sm-10">
                <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                      </div>
        </div>
</div>