<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-md-5 mb-3">
        <h5>Subscribe Up To Our Newsletter</h5>
        <p>Be the first to hear about the latest offers</p>
      </div>


      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-5 col-md-2 mb-3">
        <h5>Information</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Zip</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Search</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tearms</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Orders and Returns</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contract Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Advanced Search</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsletter Subscription</a></li>
        </ul>
      </div>

      <div class="col-5 col-md-2 mb-3">
        <h5>PC Parts</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CPUS</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Add On Cards</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hard Drives (Internal)</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Graphic Cards</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Keyboards / Mice</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cases / Power Supplies / Coaling</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">RAM (Memory)</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Software</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Speakers / Headsets</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Motherboards</a></li>
        </ul>
      </div>

      <div class="col-5 col-md-2 mb-3">
        <h5>Desktop PCs</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Custom PCs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Servers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MSI All-In-One PCs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HP/Campaq PCs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ASUS PCs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tecs PCs</a></li>
        </ul>
      </div>
      <div class="col-5 col-md-2 mb-3">
        <h5>Latops</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Everyday Use Notebooks</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MSI Workstation Series</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MSI Prestige Series</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tables and Pads</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Netbooks</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Infinity Gaming Notebooks</a></li>
        </ul>
      </div>
      <div class="col-5 col-md-2 mb-3">
        <h5>Address</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Address: 1234 Street Address City Address, 1234</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Phone: (00) 123456789</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">We are open: Monday- Thurs day: 9:00 AM - 5h30 PM</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Friday: 9:00 AM - 6:00 PM</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Saturday: 11:00 AM 5:00 PM</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email: Shop@email.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>